
@charset "UTF-8";
:root {
    --silent-blue: #163e6c;
    --silent-dark-blue: #09294b;
    --silent-red: #d20a11;
    --silent-dark-red: #930f14;
    --silent-sands: #ebe6d6;


}

@font-face {
  font-family: 'PT-Astra-Sans_Regular';
  src: local('PT-Astra-Sans_Regular'), url('/static/fonts/PT Astra Sans/PT-Astra-Sans_Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'PT-Astra-Sans_Bold';
  src: local('PT-Astra-Sans_Bold'), url('/static/fonts/PT Astra Sans/PT-Astra-Sans_Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'PT-Astra-Sans_Bold-italic';
  src: local('PT-Astra-Sans_Bold-italic'), url('/static/fonts/PT Astra Sans/PT-Astra-Sans_Bold-italic.ttf') format('truetype');
}
@font-face {
  font-family: 'PT-Astra-Sans_Italic';
  src: local('PT-Astra-Sans_Italic'), url('/static/fonts/PT Astra Sans/PT-Astra-Sans_Italic.ttf') format('truetype');
}

body {
font-family: "PT-Astra-Sans_Regular";
}

.btn-silant-red {
  color: var(--silent-sands);
  background-color: var(--silent-red);
  border-color: var(--silent-red);
}

.btn-silant-red:hover {
  color: var(--silent-sands);
  background-color: var(--silent-red);
  border-color: var(--silent-red);
}
.btn-check:focus + .btn-silant-red, .btn-silant-red:focus {
  color: var(--silent-sands);
  background-color: var(--silent-red);
  border-color: var(--silent-red);
  box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
}
.btn-check:checked + .btn-silant-red, .btn-check:active + .btn-silant-red, .btn-silant-red:active, .btn-silant-red.active, .show > .btn-silant-red.dropdown-toggle {
  color: var(--silent-sands);
  background-color: var(--silent-red);
  border-color: var(--silent-red);
}
.btn-check:checked + .btn-silant-red:focus, .btn-check:active + .btn-silant-red:focus, .btn-silant-red:active:focus, .btn-silant-red.active:focus, .show > .btn-silant-red.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
}
.btn-silant-red:disabled, .btn-silant-red.disabled {
  color: var(--silent-sands);
  background-color: var(--silent-red);
  border-color: var(--silent-red);
}


.btn-silant-blue {
    color: var(--silent-sands);
    background-color: var(--silent-blue);
    border-color: var(--silent-blue);
  }

  .btn-silant-blue:hover {
    color: var(--silent-sands);
    background-color: var(--silent-dark-blue);
    border-color: var(--silent-dark-blue);
  }
  .btn-check:focus + .btn-silant-blue, .btn-silant-blue:focus {
    color: var(--silent-sands);
    background-color: var(--silent-dark-blue);
    border-color: var(--silent-dark-blue);
    box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
  }
  .btn-check:checked + .btn-silant-blue, .btn-check:active + .btn-silant-blue, .btn-silant-blue:active, .btn-silant-blue.active, .show > .btn-silant-blue.dropdown-toggle {
    color: var(--silent-sands);
    background-color: var(--silent-dark-blue);
    border-color: var(--silent-dark-blue);
  }
  .btn-check:checked + .btn-silant-blue:focus, .btn-check:active + .btn-silant-blue:focus, .btn-silant-blue:active:focus, .btn-silant-blue.active:focus, .show > .btn-silant-blue.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
  }
  .btn-silant-blue:disabled, .btn-silant-blue.disabled {
    color: var(--silent-sands);
    background-color: var(--silent-blue);
    border-color: var(--silent-blue);
  }

.bg-silent-sands {
    background-color: var(--silent-sands) !important;
  }

.text-header {
    color: var(--silent-dark-blue);
}