<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% block title %}
complaint
{% endblock title %}

{% block content %}
   <h1>Рекламации</h1>
   <form action="" method="get">
        {{ filterset.form.as_p }}
        <input class="btn btn-silant-blue" type="submit" value="Найти" />
    </form>
   <hr>
   {% if complaints %}
       <table border="1" style="text-align:center">
           <tr>
               <td><b>Дата отказа</b></td>
               <td><b>Наработка м/час</b></td>
               <td><b>Узел отказа</b></td>
               <td><b>Характер отказа</b></td>
               <td><b>Способ восстановления</b></td>
               <td><b>Используемые запасные части</b></td>
               <td><b>Дата восстановления</b></td>
               <td><b>Время простоя техники</b></td>
               <td><b>Машина</b></td>
               <td><b>Сервисная организация</b></td>
               <td><b>Операции</b></td>
           </tr>
           {% for complaint in complaints %}
           <tr>
                <td><b>{{ complaint.date_of_refusal }}</b></td>
                <td><b>{{ complaint.operating_time }}</b></td>
                <td><b><a href="dictionary/failureNode/{{complaint.failure_node.id}}/">{{ complaint.failure_node }}</a></b></td>
                <td><b>{{ complaint.description_failure }}</b></td>
                <td><b><a href="dictionary/recoveryMethod/{{complaint.recovery_method.id}}/">{{ complaint.recovery_method }}</a></b></td>
                <td><b>{{ complaint.parts_used }}</b></td>
                <td><b>{{ complaint.date_of_restoration }}</b></td>
                <td><b>{{ complaint.equipment_downtime }}</b></td>
                <td><b>{{ complaint.car }}</b></td>
                <td><b><a href="dictionary/serviceCompany/{{complaint.service_company.id}}/">{{ complaint.service_company }}</a></b></td>
                <td>
                    <a class="btn btn-silant-blue" href="/cars/complaints/info">Подробнее</a>
                    {% if perms.silant.change_car %} <!--Проверка авторизован b емеет право-->
                        <a class="btn btn-silant-blue" href="/cars/complaints/edit/{{complaint.id}}">Изменить</a>
                    {% endif %} 
                </td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Данных пока нет!</h2>
   {% endif %}

   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
    <div>
    {% if user.is_authenticated and perms.silant.add_complaints %} <!--Проверка авторизован ли, И емеет право на добавление-->
        <a class="btn btn-silant-blue" href="/cars/complaints/create">Добавить рекламацию</a>
    {% endif %} 
    </div>

{% endblock content %}