<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% block title %}
сomplaints
{% endblock title %}

{% block content %}
   <h1>Рекламации</h1>
   <button onclick=location.href="/cars/сomplaints/create"> Добавить</button>
   <!-- <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Найти" />
    </form> -->
   <hr>
   {% if сomplaints %}
       <table border="1" style="text-align:center">
           <tr>
               <td><b>п/п</b></td>
               <td><b>Дата отказа</b></td>
               <td><b>Наработка м/час</b></td>
               <td><b>Узел отказа</b></td>
               <td><b>Характер отказа</b></td>
               <td><b>Способ восстановления</b></td>
               <td><b>Используемые запасные части</b></td>
               <td><b>Дата восстановления</b></td>
               <td><b>Время простоя техники</b></td>
               <td><b>Машина</b></td>
               <td><b>Сервисная организация</b></td>
               <td><b>Операции</b></td>
           </tr>
           {% for сomplaint in сomplaints %}
           <tr>
                <td><b>{{ сomplaint.id }}</b></td>
                <td><b>{{ сomplaint.date_of_refusal }}</b></td>
                <td><b>{{ сomplaint.operating_time }}</b></td>
                <td><b><a href="dictionary/failureNode/{{сomplaint.failure_node.id}}/">{{ сomplaint.failure_node }}</a></b></td> <!--ссылку-->
                <td><b>{{ сomplaint.description_failure }}</b></td>
                <td><b><a href="dictionary/recoveryMethod/{{сomplaint.recovery_method.id}}/">{{ сomplaint.recovery_method }}</a></b></td> <!--ссылку-->
                <td><b>{{ сomplaint.parts_used }}</b></td>
                <td><b>{{ сomplaint.date_of_restoration }}</b></td>
                <td><b>{{ сomplaint.equipment_downtime }}</b></td>
                <td><b>{{ сomplaint.car }}</b></td>
                <td><b><a href="dictionary/serviceCompany/{{сomplaint.service_company.id}}/">{{ сomplaint.service_company }}</a></b></td> <!--ссылку-->
                <td><button onclick=location.href="/cars/сomplaints/edit/{{сomplaint.id}}">Изменить</button></td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Данных пока нет!</h2>
   {% endif %}

   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}