{% extends 'flatpages/default.html' %}
{% load static %}

{% block title %}
cars
{% endblock title %}

{% block content %}
    <h1>Просмотр информации о машине с серийным номером № {{ car.serial_number  }}</h1>
    <div class="container">
        <div class="row">
          <div class="col">
            <a class="btn btn-silant-red">Общая информация</a>
          </div>
          <div class="col">
            <a class="btn btn-silant-blue" href="/cars/maintenances/?type_maintenance=&service_company=&car={{car.id}}">ТО</a>
          </div>
          <div class="col">
            <a class="btn btn-silant-blue" href="complaints/?type_maintenance=&service_company=&car={{car.id}}">Рекламации</a>
          </div>
        </div>
    </div>
    <div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Зав. № машины<br><img width="35px" height="35px" src="/static/img/car.png"></th>
                <th scope="col">Модель техники<br><img width="35px" height="35px" src="/static/img/car.png"></th>
                <th scope="col">Модель двигателя<br><img width="35px" height="35px" src="/static/img/engine.png"></th>
                <th scope="col">Зав. № двигателя<br><img width="35px" height="35px" src="/static/img/engine.png"></th>
                <th scope="col">Модель трансмиссии<br><img width="35px" height="35px" src="/static/img/transmission.png"></th>
                <th scope="col">Зав. № трансмиссии<br><img width="35px" height="35px" src="/static/img/transmission.png"></th>
                <th scope="col">Модель ведущего моста<br><img width="35px" height="30px" src="/static/img/ved.most.png"></th>
                <th scope="col">Зав. № ведущего моста<br><img width="35px" height="30px" src="/static/img/ved.most.png"></th>
                <th scope="col">Модель управляемого моста<br><img width="35px" height="35px" src="/static/img/upr.most.png"></th>
                <th scope="col">Зав. № управляемого моста<br><img width="35px" height="35px" src="/static/img/upr.most.png"></th>
                <th scope="col">Договор поставки №, дата.<br><img width="35px" height="35px" src="/static/img/dogovor.png"></th>
                <th scope="col">Дата отгрузки с завода<br><img width="35px" height="35px" src="/static/img/dateotg.png"></th>
                <th scope="col">Грузополучатель (конечный потребитель)<br><img width="35px" height="30px" src="/static/img/gruzpoluh.png"></th>
                <th scope="col">Адрес поставки (эксплуатации)<br><img width="35px" height="30px" src="/static/img/gruzpoluh.png"></th>
                <th scope="col">Комплектация (доп. опции)<br><img width="35px" height="35px" src="/static/img/complect.png"></th>
                <th scope="col">Клиент<br><img width="35px" height="35px" src="/static/img/client.png"></th>
                <th scope="col">Сервисная организация<br><img width="35px" height="35px" src="/static/img/service.png"></th>
                {% if perms.silant.change_car %}
                  <th scope="col">Операции</th>
                {% endif %} 
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ car.serial_number }}</td>
                <td><a href="dictionary/techniqueModel/{{car.technique_model.id}}/">{{ car.technique_model }}</a></td>
                <td><a href="dictionary/engineModel/{{car.engine_model.id}}/">{{ car.engine_model }}</a></td>
                <td>{{ car.engine_number }}</td>
                <td><a href="dictionary/transmissionModel/{{car.transmission_model.id}}/">{{ car.transmission_model }}</a></td>
                <td>{{ car.transmission_number }}</td>
                <td><a href="dictionary/driveAxleModel/{{car.drive_axle_model.id}}/">{{ car.drive_axle_model }}</a></td>
                <td>{{ car.drive_axle_number }}</td>
                <td><a href="dictionary/steerableAxleModel/{{car.steerable_axle_model.id}}/">{{ car.steerable_axle_model }}</a></td>
                <td>{{ car.steerable_axle_number }}</td>
                <td>{{ car.supply_contract }}</td>
                <td>{{ car.shipping_date }}</td>
                <td>{{ car.consignee }}</td>
                <td>{{ car.delivery_address }}</td>
                <td>{{ car.equipment }}</td>
                <td>{{ car.client }}</td>
                <td><a href="dictionary/ServiceCompany/{{car.service_company.id}}/">{{ car.service_company }}</a></td>
                {% if perms.silant.change_car %}
                  <td>                 
                    <a class="btn btn-silant-blue" href="/cars/edit/{{car.id}}">Изменить</a>
                  </td>
                {% endif %}   
            </tr>
        </tbody>
    </table>
    {% endblock content %}