{% extends 'flatpages/default.html' %}

{% block content %}
    <h1>Смежные справочники</h1>
    <hr>
    <table border="1" style="text-align:center">
        <tr>
            <td><b>Модели техники</b></td>
            <td><button onclick=location.href="#">Просмотреть</button></td>
            <td><button onclick=location.href="#">Добавить</button></td>     
        </tr>      
            <td><b>Модели двигателя</b></td>
            <td><button onclick=location.href="#">Просмотреть</button></td>
            <td><button onclick=location.href="#">Добавить</button></td>
        </tr>    
            <td><b>Модели трансмиссии</b></td>
            <td><button onclick=location.href="#">Просмотреть</button></td>
            <td><button onclick=location.href="#">Добавить</button></td>
        </tr>    
            <td><b>Модели ведущего моста</b></td>
            <td><button onclick=location.href="#">Просмотреть</button></td>
            <td><button onclick=location.href="#">Добавить</button></td>
        </tr>    
            <td><b>Модели управляемого моста</b></td>
            <td><button onclick=location.href="#">Просмотреть</button></td>
            <td><button onclick=location.href="#">Добавить</button></td>
        </tr>    
            <td><b>Клиенты</b></td>
            <td><button onclick=location.href="#">Просмотреть</button></td>
            <td><button onclick=location.href="#">Добавить</button></td>
        </tr>    
            <td><b>Сервисная организация</b></td>
            <td><button onclick=location.href="#">Просмотреть</button></td>
            <td><button onclick=location.href="#">Добавить</button></td>
        </tr>    
    </table>
{% endblock content %}