{% extends 'flatpages/default.html' %}

{% block content %}
<h1>{{namegroup}}</h1>

<form action="/cars/dictionary/save/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input name="id" type="hidden" value="{{item.id}}">
    <input name="type" type="hidden" value="{{type}}">     
    <div>
        <label>
            <b>Наименование</b>
        </label>
        {% if perms.silant.add_car %}
            <textarea name="name" maxlength="30" required="" id="id_name" class="form-control text-black text-center">{{ item.name }}</textarea>
        {% else %}
            <textarea name="name" maxlength="30" required="" id="id_name" class="form-control text-black text-center" disabled>{{ item.name }}</textarea>
        {% endif %}
    </div>
    <div>
        <label>
            <b>Описание</b>
        </label>
        {% if perms.silant.add_car %}
            <textarea name="description" maxlength="100" required="" id="id_description" class="form-control text-black text-center">{{ item.description }}</textarea>
        {% else %}
            <textarea name="description" maxlength="100" required="" id="id_description" class="form-control text-black text-center" disabled>{{ item.description }}</textarea>
        {% endif %}
    </div>
    {% if perms.silant.add_car %}
        <button type="submit" class="btn btn-silant-blue">Сохранить</button>
    {% endif %}
    <h1></h1>
    <div>
        <a href="javascript:history.back()" class="btn btn-silant-blue">Вернуться на прошлую страницу</a>
    </div>

</form>

<!-- <table class="table">
    <thead>
        <tr>
            <th scope="col">Наименование</th>
            <th scope="col">Описание</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
        </tr>
    </tbody>
</table> -->

{% endblock content %}